.questions {
  margin: 20px;
}
.question__picture {
  display: block;
  border: 2px solid grey;
}
.question__group {
  margin: 3px 0px;
}
.question__my-answer {
  background: #1d1d1d;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  margin-left:10px;
  font-size:11px;
}
.question__results {
  background: #11dd22;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  margin-left:10px;
  font-size:12px;
}
